{% extends 'base.twig' %}

{% block section %}Subjects{% endblock %}

{% block body %}

<table>
	<tr>
		<td>Hour</td>
		<td>Subject</td>
		<td>Grade</td>
		<td>Pass the role</td>
		<td>Attendances</td>
	</tr>
		{% for class in classes %}
	<tr>
		<td>{{class.hour}}:00</td>
		<td>{{class.name}}</td>
		<td>{{class.grade}}</td>
		<td>
			<center><a class='fa fa-edit' href='/rolecall/create/{{class.id}}'></a></center>
		</td>
		<td>
			<center><a class='fa fa-sticky-note' href='/rolecall/show/{{class.id}}'></a></center>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}