{% extends 'base.twig' %}

{% block section %}Pass the role: {{ class.name }}{% endblock %}

{% block body %}

<h3>Name: {{ class.name }}</h3>
<h3>Hour: {{ class.hour }}</h3>
<h3>Grade: {{ class.grade }}</h3>
<h3>Description: {{ class.description }}</h3>
<h3>
	<center><a class='fa fa-sticky-note' href='/rolecall/show?class_id={{ class.id }}'>Look attendance</a></center>
</h3>
<hr>
<form method="post" action="rolecall/store?class_id={{ class.id }}">
	<div class="form-group">
		date: <input class="form-control" id="date" type="date" name="date" value="{{ current_date}}" required>
		<button type="submit" value="Save" class="btn btn-success">Save <i class="fa fa-save"></i></button>
	</div>
	<div class="form-group">
		<table>
			<tr>
				<td>Name</td>
				<td>Assistance</td>
				<td>Absence</td>
				<td>Exculpatory</td>
				<td>Delays </td>
			</tr>
			{% for student in class.students %}
			<tr>
				<td>{{ student.name }}</td>
				<td><center>
					<input type='radio' name='{{ student.id}}' value=1 checked>
				</center></td>
				<td><center>
					<input type='radio' name='{{ student.id}}' value=2>
				</center></td>
				<td><center>
					<input type='radio' name='{{ student.id}}' value=3>
				</center></td>
				<td><center>
					<input type='radio' name='{{ student.id}}' value=4>
				</center></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</form>
{% if is_new_data %}
	<script>
		alert("There are data from this date in the database");
	</script>
{% endif%}

{% endblock %}