{% extends 'base.twig' %}

{% block section %}Users{% endblock %}

{% block body %}
<table>
	<tr>
		<td>Id</td>
		<td>Name</td>
		<td>Grade</td>
		<td>Attemps</td>
		<td>Password</td>
	</tr>
	{% for user in users %}
	<tr>
		<td>{{user.id}}</td>
		<td>{{user.name}}</td>
		<td>{{user.grade}}</td>
		<td>{{user.attemps}}</td>
		<td>{{user.password|slice(10, 10)}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}